.conainersearch{
    margin-left: 100px;
    padding-bottom: 50px;
}

#search{
    margin-top: 10px;
    background-color: #242222;
    border-radius: 5px;
    color: white;
}

.selectsearch{
    margin-top: 10px;
    background-color: #242222;
    border-radius: 5px;
    color: white;
}

label{
    color: white;
    margin: 10px;
}