 <!-- FONT https://angular.io/api/common/NgIf -->
<section class="auth-form">
        <form  [formGroup]="newpass" (ngSubmit)="recuperate()"  class="form"> 
                <!--[formGroup] is how select all form in the "newpass"(the key from FormGroup);(ngSubmit) is how ejecute the function when press the submit -->

                <h1 id="title">Recuperar Contraseña</h1>

                <p class="text">Introduce tu correo</p>

                <input formControlName="email" class="form-input" type="text" id="mail" name="user_mail" placeholder="example@example.com"> <!-- formControlName is the selector with call the input in FormBuilder -->
                <p class="error" *ngIf="newpass.get('email')?.hasError('required') && newpass.get('email')?.touched">El correo es Requerido*</p><!-- *ngIf is a directive from angular, if the condition is done the elemet appears, like this error -->
                <p class="error" *ngIf="newpass.get('email')?.hasError('email') && newpass.get('email')?.touched">No es un correro vaido*</p>
                <!-- newpass.get('email') is the selector of input, ? is why the value can't be null, 'required' is to check the input is not empty, 'email' is to check the input value is a email -->

                <a class="login" href="/sign-in">Ya me acordé de mi contraseña</a><!-- If the user remeber the password -->

                <p id="button-cont">
                        <button  type="submit" class="btn btn-primary" id="submit" value="Submit" [disabled]="newpass.invalid" >Enviar</button>
                        <!-- [disabled] disables the button if [formGroup] is invali, if there is an error in the form -->

                        <button type="reset" class="btn btn-danger" id="reset" value="Reset" >Reset</button>
                </p>

        </form>
</section>

