<section class="auth-form">

    <form  class="body" (ngSubmit)="login()" [formGroup]="UserSignin" class="form">

        <h1 id="title">Sign In</h1>

        <p class="text"> Correo Electrónico <input formControlName="email" class="form-input" type="text" id="mail" name="user_mail" placeholder="example@example.com"></p>

        <p class="text"> Contraseña <input formControlName="password" class="form-input" type="password" id="password" name="user_password"></p>

        <a class="logup" href="/register">No tienes Cuenta? Crear una cuenta</a>
        <a class="logup" href="/newpass">Recuperar contraseña</a>

        <p id="button-cont">

            <button  type="submit" class="btn btn-primary" id="submit" value="Submit" [disabled]="UserSignin.invalid">Submit</button>
            <button type="reset" class="btn btn-danger" id="reset" value="Reset" >Reset</button>
        </p>

    </form>
</section>

