<div class="footer">
    <div class="row align-items-start">
        <hr>
        <div class="col-sm">
            <div class="contact"><p class="title">Contacto</p>
                <p>¿Preguntas? Llama gratis al 652 27 33 65</p>
                <p>Contactanos por correo a SnowblindVideos@snow.com</p>
                <p>Nuestra dirección es Calle muy falsa 123 Valencia, España</p>
            </div>
        </div>
        <div class="col-sm">
            <div class="company"><p class="title">Empresas</p>
                <p>Netflix</p>
                <p>Prime Video</p>
                <p>HBO</p>
                <p>Rakuten</p>
            </div>
        </div>
        <div class="col-sm">
            <div class="social-media"><p class="title">Redes Sociales</p>
                <p class="pi pi-facebook"> Facebook</p>
                <p class="pi pi-telegram"> Telegram</p>
                <p class="pi pi-instagram"> Instagram</p>
                <p class="pi pi-twitter"> Twitter</p>
            </div>
        </div> 
    </div>
    <hr>
    <div class="copy">«Copyright © 2022 | Cristian Jaime Reverte 2DAW»</div>
</div>
