.footer{
    background-color: black;
    margin-top: -40px;
    color: white;
}
.align-items-start{
    width: 99%;
}
p{
    display : block;
}

.title{
    font-size: 30px;
}

.list-group{
    background-color: black;
}

.list-group-item{
    background-color: black;    
}

.row .col-sm div{
    padding-top: 25px;
    padding-left: 50px;
}

.copy{
    text-align: center;
}